{% extends 'base.html' %}
{% block content %}
<h2>My Budget</h1>
    <p><b>Your current monthly budget is: £{{ budget }}</b></p>
    <br>
    <p>You can update your monthly budget using the form below:</p>
    <br>
    <h3>Update Monthly Budget:</h3>
    <form action="/budgets/" method="post">
        <label for="monthly_budget">Budget Amount (£)</label>
        <input type="text" id="monthly_budget" name="monthly_budget" value="{{ budget.budget_amount }}" >
        <button type="submit">Update</button>
    </form>
{% endblock content %}
<h2>My Budget</h1>