<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width, initial-sacle=1.0">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>SpendTracker.com</h1>
        <nav>
            <ul>
                <li><a href="/transactions">My Transactions</a></li>
                <li><a href="/merchants">My Merchants</a></li>
                <li><a href="/tags">My Tags</a></li>
            </ul>
        </nav>
        {% block content %}
            
        {% endblock content %}
    </body>
</html>