{% extends 'base.html' %}
{% block content %}
    <h2>My Merchants</h2>
    <h3>Active Merchants:</h3>
    <ul>
        {% for merchant in active_merchants %}
            <b>Name: </b>{{ merchant.name }}</a> <b>Description: </b> {{ merchant.description }} 
            <form action="/merchants/{{ merchant.id }}/edit"><button>Edit</button></form>
            <form action="/merchants/{{ merchant.id }}/deactivate"><button>Deactivate</button></form>
            <hr>
                
        {% endfor %}
    </ul>
    <h3>Deactivated Merchants:</h3>
    <ul>
        {% for merchant in deactivated_merchants %}
        <b>Name: </b>{{ merchant.name }}</a> <b>Description: </b> {{ merchant.description }}
        <form action="/merchants/{{ merchant.id }}/reactivate"><button>Reactivate</button></form>
        <form action="/merchants/{{ merchant.id }}/delete" method='post'><button class="delete-button">Delete</button></form>
        {% endfor %}
    </ul>
    <hr>
    <form action="/merchants/add"><button>Add New Merchant</button></form>
{% endblock content %}