{% extends 'base.html' %}
{% block content %}
    <h2>My Merchants</h2>
    <h3>Active Merchants:</h3>
    <ul>
        {% for merchant in active_merchants %}
            <div id="merchant_box"><b>{{ merchant.name }}</b> - <i>{{ merchant.description }}</i> </div>
            <form action="/merchants/{{ merchant.id }}/edit" class="inline"><button>Edit</button></form>
            <form action="/merchants/{{ merchant.id }}/deactivate" class="inline"><button>Deactivate</button></form>
            <hr>
                
        {% endfor %}
    </ul>
    <h3>Deactivated Merchants:</h3>
    <ul>
        {% for merchant in deactivated_merchants %}
        <b>Name: </b>{{ merchant.name }}</a> | <b>Description: </b> {{ merchant.description }}
        <form action="/merchants/{{ merchant.id }}/reactivate" class="inline"><button>Reactivate</button></form>
        <form action="/merchants/{{ merchant.id }}/delete" method='post' class="inline"><button class="delete-button">Delete</button></form>
        hr
        {% endfor %}
    </ul>
    <hr>
    <form action="/merchants/add"><button>Add New Merchant</button></form>
    <br>
{% endblock content %}