{% extends 'base.html' %}
{% block content %}
<h2>Add Transaction:</h2>
<form action="/transactions/add" method="post">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
    <label for="time">Time:</label>
    <input type="time" id="time" name="time">
    <label for="amount_spent">Amount Spent (£):</label>
    <input type="text" id="amount_spent" name="amount_spent">
    <label for="merchant">Merchant:</label>
    <select name="merchant" id="merchant">
        {% for merchant in merchants %}
        {% if merchant.active == True %}
            <option value="{{ merchant.name }}">{{ merchant.name }}</option>
        {% else %}
            <option disabled="disabled" value="{{ merchant.name }}">{{ merchant.name }}(deactivated)</option>
        {% endif %}
            
        {% endfor %}
    </select>
    <label for="tag">Tag:</label>
    <select name="tag" id="tag">
        {% for tag in tags %}
        {% if tag.active == True %}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
        {% else %}
            <option value="{{ tag.name }}" disabled=disabled>{{ tag.name }}(deactivated)</option>
        {% endif %}
            
        {% endfor %}
    </select>
    <button type="submit">Add</button>
</form>
<hr>

{% include 'random_stats/random_stat.html' %}


{% endblock content %}