{% extends 'base.html' %}
{% block content %}
<h2>My Transactions</h2>
<p>Welcome! Below is a list of all your recent transactions.</p>
<p>You can select a transaction to edit it or press the button below to add a new transaction.</p>

<h3>Sort by:</h3>
<p><a href="/transactions">Date & Time (Old to New)</a>  <a href="/transactions/sort_by_date_time_reversed">Date & Time (New to Old)</a>  <a href="/transactions/sort_by_merchant">Merchant</a> <a href="/transactions/sort_by_tag">Tag</a></p>  


<table>
    <tr>
        <th>Date</th>
        <th></th>
        <th>Time</th>
        <th></th>
        <th>Merchant</th>
        <th></th>
        <th>Tag</th>
        <th></th>
        <th>Amount Spent</th>
        <th></th>
       
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.date }}</td>
        <td>|</td>
        <td>{{ transaction.time }}</td>
        <td>|</td>
        <td>{{ transaction.merchant.name }}</td>
        <td>|</td>
        <td>{{ transaction.tag.name }}</td>
        <td>|</td>
        <td>£{{ transaction.amount_spent }}</td>
        <td>|</td>
        <td></td>
        <td><form action="/transactions/{{ transaction.id }}/edit"><button>Edit Transaction</button></form></td> 
        <td><form class="delete-form" action="/transactions/{{ transaction.id }}/delete"> <button>Delete Transaction</button></form></td> 

    </tr>
    
        
    {% endfor %}
</table>
<br>
<b>Total Spent: </b>£{{ total_spent }}
<br>
<br>
<form action="/transactions/add"><button>Add New Transaction</button></form>
<br>
<p><b>View all transactions from a specific month: </b>
    <select name="month" id="month">
        {% set months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}
        {% for month in months %}
            <option value="{{ month }}">{{ month }}</option>
            
        {% endfor %}
    
    </select></p>


    
{% endblock content %}


